@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    background-color: #f0f0f0;
    font-size: 18px;
    height: 100vh;
    margin: auto;
}

.header {
    background: linear-gradient(0deg, rgba(61, 64, 64, 1) 0%, rgba(80, 88, 92, 1) 100%);
    color: white;
    text-align: center;
    padding: 10px;
    min-width: 320px;
    max-width: 1600px;
    height: 80px;
    display: flex;
    align-items: center;
}

h1 {
    margin-left: 28%;
}

.box-header {
    display: flex;
    justify-content: space-between;
    width: 900px;
    align-items: center;
}

.box {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 1em;
}

.box span {
    display: flex;
    align-items: center;
}

.box label {
    margin-right: 5px;
}

#inSearch {
    height: 25px;
}

.container {
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
    border-radius: 1em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background: rgb(78, 78, 78);
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btActions {
    display: flex;
    justify-content: center;
}

#actions {
    text-align: center;
    width: 250px;
}

button {
    color: white;
    border: none;
    cursor: pointer;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-size: 18px;
    margin: 3px;
}

.btEdit {
    background-color: #1a7dff;
}

.btDelete {
    background-color: #eb1313;
}

.btEdit:hover {
    background-color: #1164b1;
}

.btDelete:hover {
    background-color: #c91313;
}

@media screen and (min-width: 300px) {
    h1 {
        margin-left: 0px;
    }
}