.container-employee {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    border: 1px solid #000;
    width: 530px;
    height: 550px;
    position: fixed;
    top: 10%;
    background-color: #f2f2f2;
    color: #000;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    box-shadow: 2px 2px 15px #000;
}

.form {
    margin: 10px;
    max-width: 100%;
}

#btSubmit, #btUpdate {
    color: #fff;
    border: none;
    cursor: pointer;
    width: 90px;
    height: 30px;
    border-radius: 5px;
    font-size: 18px;
    margin: 3px;
    background-color: #1a7dff;
}

#btSubmit:hover, #btUpdate:hover{
    background-color: #1164b1;
}

.hidden {
    display: none;
}

#close {
    width: 20px;
    margin-left: 480px;
    margin-top: 20px;
    cursor: pointer;
}

.form input[type="text"] {
    width: 250px;
    height: 27px;
    border-radius: 0.5em;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#inAge,
#inStartDate,
#inPosition {
    width: 110px;
    height: 27px;
    border-radius: 0.5em;
}

#addEmployee {
    width: 200px;
    height: 35px;
    background: none;
}

#addEmployee:active {
    color: #444242;
}

h3 {
    font-size: 1.4em;
    text-align: center;
    color: #fff;
}

label {
    font-size: 1.1em;
    font-weight: 400;
}

.header-form {
    background: linear-gradient(0deg, rgba(61, 64, 64, 1) 0%, rgba(80, 88, 92, 1) 100%);
    width: 530px;
    margin-top: -30px;
    border-radius: 1em 1em 0 0;
}